[submodule "aux/bro-aux"]
	path = aux/bro-aux
	url = ../../bro/bro-aux
[submodule "aux/binpac"]
	path = aux/binpac
	url = ../../bro/binpac
[submodule "aux/broccoli"]
	path = aux/broccoli
	url = ../../bro/broccoli
[submodule "aux/broctl"]
	path = aux/broctl
	url = ../../bro/broctl
[submodule "aux/btest"]
	path = aux/btest
	url = ../../bro/btest
[submodule "cmake"]
	path = cmake
	url = ../../bro/cmake
[submodule "magic"]
	path = magic
	url = ../../bro/bromagic
[submodule "src/3rdparty"]
	path = src/3rdparty
	url = ../../bro/bro-3rdparty
